.product-card {
  width: 238px;
  height: 400px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: stretch;
  font-family: inherit;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}
.product-card:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.product-card p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
}
.product-card .rating {
  position: absolute;
  border-radius: 4px;
  top: 14px;
  left: 14px;
  background-color: white;
  gap: 5px;
  font-weight: bold;
  z-index: 2;
  padding: 0px 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
.product-card .rating img {
  width: 20px;
  height: 20px;
}
.product-card .image-container {
  width: 218px;
  position: relative;
}
.product-card .image-container img {
  display: block;
  width: 100%;
  height: 233px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card .price-container {
  justify-content: flex-start;
  gap: 0px;
  font-size: 18px;
  position: relative;
  font-family: "poppins";
}
.product-card .price-container .price-tag {
  font-weight: bold;
}
.product-card .price-container .discount {
  flex-direction: row-reverse;
  position: relative;
  bottom: 4px;
}
.product-card .price-container .discount .old-price {
  text-decoration: line-through;
  color: #6e6e6e;
  font-size: 12px;
}
.product-card .price-container .discount .discount-percentage {
  font-size: 14px;
  color: #16bf00;
  font-weight: 900;
}
.product-card button {
  width: 100%;
}

@media (max-width: 500px) {
  .product-card {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: stretch;
    font-family: inherit;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
  }
  .product-card p {
    font-size: small;
  }
  .product-card .rating {
    position: absolute;
    border-radius: 4px;
    top: 14px;
    left: 14px;
    background-color: white;
    gap: 5px;
    font-weight: bold;
    z-index: 2;
    padding: 0px 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  }
  .product-card .rating img {
    width: 20px;
    height: 20px;
  }
  .product-card .image-container {
    width: 100%;
  }
  .product-card .image-container img {
    max-height: 150px;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .product-card .price-container {
    justify-content: flex-start;
    gap: 0px;
    font-size: 12px;
    position: relative;
    font-family: "poppins";
  }
  .product-card .price-container .price-tag {
    font-weight: bold;
  }
  .product-card .price-container .discount {
    flex-direction: row-reverse;
    position: relative;
    bottom: 4px;
  }
  .product-card .price-container .discount .old-price {
    text-decoration: line-through;
    color: #6e6e6e;
    font-size: 12px;
  }
  .product-card .price-container .discount .discount-percentage {
    font-size: 14px;
    color: #16bf00;
    font-weight: 900;
  }
  .product-card button {
    width: 100%;
  }
}/*# sourceMappingURL=ProductCard.css.map */