.cart-product-card {
    padding: 15px;
    border: 1px solid black;
    max-width: 854px;
    justify-content: flex-start;
    gap: 15px;
    .image-container {
        img {
            width: 230px;
            height: 230px;
            object-fit: cover;
        }
    }
    .info {
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 580px;
        .title-container {
            width: 100%;
            justify-content: space-between;
        }
        .title {
            font-size: 24px;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 150%;
            white-space: nowrap;
            max-width: 90%;
        }
        .price {
            width: fit-content;
            white-space: nowrap;
        }
        .description {
            line-clamp: 3;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
        }
        .total,
        .price {
            font-weight: bold;
            font-size: 20px;
        }
        .counter-container {
            gap: 15px;
        }
        button.primary {
            padding: 7px 10px;
        }
    }
}
