.home-categories-root {
    margin: 100px auto;
    text-align: center;
    h2 {
        margin-bottom: 15px;
        font-size: 35px;
    }
    > p {
        margin-bottom: 45px;
    }
    .categories-cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        .category-card {
            background-color: #eee;
            width: 480px;
            justify-content: flex-start;
            position: relative;
            height: 123px;
            border-radius: 8px;
            overflow: hidden;
            padding: 20px;
            font-size: 20px;
            text-transform: capitalize;
            .flexv {
                gap: 15px;
                align-items: flex-start;
                button {
                    padding: 7px 19px;
                }
            }
            img {
                position: absolute;
                right: 0px;
                top: 0px;
                height: 100%;
            }
            &.smartPhones {
                background-color: #7accff;
            }
            &.accessories {
                background-color: #8ed2da;
            }
            &.Market {
                background-color: #fc9832;
            }
            &.electronics {
                background-color: #bda4e5;
            }
        }
    }
}
