.home-categories-root {
    margin: 100px auto;
    text-align: center;
    h2 {
        margin-bottom: 15px;
        font-size: 35px;
    }
    > p {
        margin-bottom: 45px;
    }
    .categories-cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        .category-card {
            background-color: #eee;
            position: relative;
            height: 123px;
            border-radius: 8px;
            width: 480px;
            overflow: hidden;
            padding: 20px 0px 20px 20px;
            font-size: 20px;
            text-transform: capitalize;
            .flexv {
                gap: 15px;
                align-items: flex-start;
                p {
                    white-space: nowrap;
                }
                button {
                    padding: 7px 19px;
                    white-space: nowrap;
                }
            }
            &.smartPhones {
                background-color: #7accff;
            }
            &.accessories {
                background-color: #8ed2da;
            }
            &.Market {
                background-color: #fc9832;
            }
            &.electronics {
                background-color: #bda4e5;
            }
        }
    }
}
@media (max-width: 1080px) {
    .home-categories-root {
        margin: 80px auto;
        .categories-cards {
            .category-card {
                width: 380px;
            }
        }
    }
}
@media (max-width: 850px) {
    .home-categories-root {
        margin: 80px auto;
        .categories-cards {
            gap: 20px;
            .category-card {
                width: 380px;
            }
        }
    }
}
@media (max-width: 768px) {
    .home-categories-root {
        margin: 80px auto;
        .categories-cards {
            gap: 20px;
            .category-card {
                width: 300px;
            }
        }
    }
}
@media (max-width: 450px) {
    .home-categories-root {
        h2{
            font-size: 21px;
        }
        .categories-cards {
            .category-card {
                width: 100%;
            }
        }
    }
}
