.why-choose-us-root {
    margin-top: 100px;
    gap: 26px;
    > .flexv {
        gap: 60px;
    }
    .text {
        text-align: center;
        h2 {
            margin-bottom: 15px;
        }
    }
    .why-choose-us-card {
        background-color: var(--light-orange);
        width: 340px;
        height: 140px;
        padding: 16px 18.5px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.25);
        transition: box-shadow 0.3s ease-in-out;
        .icon-container {
            background-color: white;
            display: grid;
            place-items: center;
            width: 65px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            img {
                width: 32px;
                height: 32px;
            }
        }
        &:hover {
            box-shadow: 4px 8px 4px 2px rgba($color: #000000, $alpha: 0.25);
        }
    }
}
@media (max-width: 900px) {
    .why-choose-us-root {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        > .flexv {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        .text {
            text-align: center;
            max-width: 60%;
            h2 {
                margin-bottom: 15px;
            }
        }
        .why-choose-us-card {
            width: 50%;
            height: 140px;
        }
    }
}
@media (max-width: 500px) {
    .why-choose-us-root {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        > .flexv {
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            gap: 20px;
        }
        .text {
            max-width: 80%;
            h2 {
                margin-bottom: 15px;
            }
        }
        .why-choose-us-card {
            width:100%;
        }
    }
}
