.checkout-shipping-details {
    .input-container {
        gap: 16px;
    }
    label,
    input {
        display: block;
        width: 100%;
    }
    .full-width-input {
        width: 100%;
    }
}
